# ======================
# IDEs
# ======================
.idea/
*.iml
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbactions.xml

# ======================
# OS
# ======================
.DS_Store

# ======================
# Build tools
# ======================
.gradle/
build/
out/
bin/

# ======================
# Logs
# ======================
*.log

# ======================
# Setup / Installers
# ======================
setup/Output/
Output/

# ======================
# Java
# ======================
*.class

# ======================
# Misc
# ======================
.checkstyle